/** 卡片的样式 **/
.content {
    margin-top: 10px;
    color: #666;
    font-size: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
  
  .avter-content {
    margin-top: 10px;
    color: #333;
    font-size: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
  
  .avter-share-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .like-container{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    align-items: center
  }
  
  .number{
    color: #666;
    font-size: 24px;
    margin-left: 12px;
  }

  /** 九宫格demo **/

  .gridTest{
      
  .num {
    color: #fc6517;
    font-size: 42px;
    font-style: italic;
  }

  .text {
    height: 30px;
    font-size: 22px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 30px;
    margin-top: 9px;
  }

  .grid-item {
    height: 200px;
  } 

  }

  //扩展分组
  .expander-group .collapseItem-title{
    border-bottom: 1PX solid rgb(231, 231, 231);
  }
  .expander-group .expanded .collapseItem-title{
    border-bottom: 0
  }